<ion-view title="{{authorName}} - {{balance | currency}}" class="container-recent-sales">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

    <div class="padding" ng-if="messageData">{{messageData.message}}</div>

    <ion-list>
      <ion-item ng-repeat="recentSale in recentSales" ng-click="showSaleDetail(recentSale);">
        <div class="row">
          <div class="col">{{recentSale.item | simplifyThemeName}}</div><div class="col price">{{recentSale.sold_at | convertDateTime}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>